<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>超大Excel文件上传</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"  media="all">
</head>
<body>


<div style="margin: 10px">

    <h1>Excel文件上传</h1>

    <button onclick="toUpload()" class="layui-btn layui-bg-green">开始上传</button>

    <hr>

    <div class="layui-row layui-col-space10">

        <div class="layui-col-md12">
            <h2>服务器文件</h2>
            <table id="file-table" lay-filter="file-list"></table>
        </div>

    </div>

</div>

<script th:src="@{/static/layui/layui.js}" charset="utf-8"></script>

<script type="text/html" id="toolbar">
    <button onclick="reloadTable();" type="button" class="layui-btn layui-btn-primary">
        <i class="layui-icon">&#xe9aa;</i>
    </button>
</script>

<script>

    var $;
    let element;
    let $tablelns;

    layui.use(['upload', 'element', 'table'], function() {
        $ = layui.jquery;
        element = layui.element;
        let table = layui.table;

        // 动态表格实例
        $tablelns = table.render({
            elem: '#file-table'
            ,height: 700
            ,url: '/list'
            ,method: 'post'
            ,page: {
                limit: 20
            }
            ,toolbar: "#toolbar"
            ,cols: [
                [
                    {field: 'trueName', title: '原始文件', sort: true}
                    ,{field: 'fileMd5', title: 'MD5值'}
                    ,{field: 'fileSize', title: '文件大小', sort: true, templet: function (data) {
                        return formatSize(data.fileSize, ['B', 'KB', 'MB']);
                    }, width: 100}
                    ,{field: 'created', title: '创建时间', sort: true, width: 120}
                    ,{field: 'status', title: '文件状态', templet: function (data) {
                        if (data.status === -1){
                            return '<span class="layui-badge layui-bg-black">等待导入</span>';
                        }else if (data.status === 0){
                            return '<span class="layui-badge layui-bg-blue">导入中</span>';
                        }else if (data.status === 1){
                            return '<span class="layui-badge layui-bg-green">导入成功</span>';
                        }else if (data.status === 2){
                            return '<span class="layui-badge layui-bg-red">导入失败</span>';
                        }
                    }, width: 100}
                    ,{field: 'ops', title: '文件操作', sort: false, templet: function (data) {
                        if (data.status === 0){
                            return "等待Excel文件导入完成..."
                        }

                        var str = '<div class="layui-btn-container layui-icon-align-center">\n';
                        if (data.status === -1){
                            str += '<button type="button" onclick="toInsert(\''+data.saveName+'\', this)" class="layui-btn layui-btn-xs layui-bg-blue">导入Excel数据</button>\n';
                        } else if (data.status === 1){
                            str +='<button type="button" onclick="toShow(\''+data.saveName+'\')" class="layui-btn layui-btn-xs">在线预览Excel</button>\n'
                        }else if (data.status === 2){
                            str +='<button type="button" onclick="toInsert(\''+data.saveName+'\', this)" class="layui-btn layui-btn-xs layui-bg-orange">尝试重新导入</button>\n'
                        }
                        str +=
                            '  <button type="button" onclick="toDownload(\''+data.saveName+'\')" class="layui-btn layui-btn-xs layui-bg-gray">下载文件</button>\n' +
                            '  <button type="button" onclick="toDel(\''+data.saveName+'\')" class="layui-btn layui-btn-xs layui-bg-red">删除文件</button>\n' +
                            '</div>';
                        return str;
                    }}
                ]
            ]
            ,initSort: {
                field: 'trueName'
                ,type: 'asc'
            }
        });
    });

    // 打开文件上传队列
    function toUpload() {
        layer.open({
            type: 2,
            title: false,
            maxmin: true,
            shadeClose: false,   //点击遮罩关闭层
            area : ['800px' , '600px'],
            content: '/uploadlist',
            cancel: function(index, layero){
                if (confirm('确定要关闭吗? 未完成上传的文件会失败')) {
                    layer.close(index);
                    reloadTable();
                }
                return false;
            }
        });
    }

    // 打开预览框
    function toShow(filename) {
        layer.open({
            type: 2,
            title: filename,
            maxmin: true,
            shadeClose: true,
            area : ['1600px' , '800px'],
            content: '/preview?f='+filename
        });
    }

    // 下载文件
    function toDownload(filename) {
        window.location.href = '/download?f='+filename;
    }

    function toDel(filename) {
        $.ajax({
            url: "/delete?f="+filename,
            type: "post",
            success: function (res) {
                console.log(res);
                reloadTable();
            }
        })
    }

    // 开始导入文件
    function toInsert(filename, btn) {
        // let $ = layui.jquery;
        $(btn).remove();
        $.ajax({
            url: "/preEx?f="+filename,
            type: "post",
            success: function (res) {
                console.log(res);
                reloadTable();
            },
            error: function (res) {
                console.log("请求导入失败", filename);
            }
        })
    }

    // 刷新服务器表格
    function reloadTable() {
        $tablelns.reload();
    }

    // 格式化大小数据
    function formatSize( size, pointLength, units ) {
        var unit;

        units = units || [ 'B', 'K', 'M', 'G', 'TB' ];

        while ( (unit = units.shift()) && size > 1024 ) {
            size = size / 1024;
        }

        return (unit === 'B' ? size : size.toFixed( pointLength || 2 )) +
            unit;
    }

</script>

</body>
</html>
