<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${filename}"></title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"  media="all">
</head>


<body>


    <div style="margin: 10px">
        <h3>文件信息</h3>
        <table class="layui-table" lay-size="sm">
            <thead>
            <tr>
                <th>存储id</th>
                <th>MD5值</th>
                <th>path</th>
                <th>原文件名称</th>
                <th>存储名称</th>
                <th>文件大小</th>
                <th>文件状态</th>
                <th>类型</th>
                <th>url</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>[[${fileInfo.id}]]</td>
                <td>[[${fileInfo.fileMd5}]]</td>
                <td>[[${fileInfo.path}]]</td>
                <td>[[${fileInfo.trueName}]]</td>
                <td>[[${fileInfo.saveName}]]</td>
                <td>[[${fileInfo.size}]]</td>
                <td>[[${fileInfo.status}]]</td>
                <td>[[${fileInfo.type}]]</td>
                <td>[[${fileInfo.url}]]</td>
            </tr>
            </tbody>
        </table>

        <hr>

        <table class="layui-table" lay-size="sm">
            <tbody id="excel-tbody">
            <tr><td>行号</td></tr>
            </tbody>
        </table>
        <div id="pager"></div>
    </div>


<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script th:src="@{/static/layui/layui.js}" charset="utf-8"></script>
<script>
    console.log("filename: [[${filename}]]", "lines: [[${lines}]]");

    layui.use(['table', 'laypage'], function(){
        let laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'pager' //注意，这里的 test1 是 ID，不用加 # 号
            ,count: [[${lines}]] //数据总数，从服务端得到
            ,limit: 20
            ,jump: function(obj, first){
                flushTable(obj)
            }
        });

    });

    function flushTable(obj) {
        let table = layui.table;
        $('#excel-tbody').empty();
        console.log(obj.curr, obj.limit);
        $.ajax({
            url: "/getEx/[[${collectionName}]]/0/"+obj.curr+"/"+obj.limit,
            type: "POST",
            success: function (res) {
                console.log(res);
                var str = '';
                let ls = res.data
                for (let i=0; i<ls.length; i++){
                    let temp = ls[i].rowList;
                    str += '<tr><td>'+(ls[i].row+1)+'</td>';
                    for (let j=0; j<temp.length; j++){
                        str += '<td>'+temp[j]+'</td>'
                    }
                    str += '</tr>';
                }
                $('#excel-tbody').append(str);
            }
        })
    }

</script>
</body>
</html>